body {
  margin:0;
}
img {
  max-width:100%;
  display: block;
  margin-bottom:1%;

}
@media screen and (min-width:0px) and (max-width: 768px) {
.bloc {
margin: 0 auto;
width: 98%;
    }
}
@media screen and (min-width: 769px) and (max-width: 1199px){
  .bloc {
    margin-right: 2%;
    width: 47%;
    float: left;
  }
  .bloc:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) and (max-width:1900px) {
  .bloc {
    margin-right: 4%;
    width: 22%;
    float:left;
  }
  .bloc:last-child {
    margin-right:0;
  }
}
